.card {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem .5rem .5rem;
    width: 17rem;
    height: 8rem;
    padding: 1rem .7rem 1rem .7rem;
    border-radius: 7px;
    border: 1px solid #808080;
    box-shadow: 1px 1px 3px 1px #808080;

    h2 {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    p {
        margin: 0;
        color: #000000;
    }
}

.card:hover {
    box-shadow: 5px 5px 7px 5px #808080;
}

@media (max-width: 827px) { 
    .card {
        width: 25rem;
        height: 13rem;
        h2 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}

@media (max-width: 600px) {
    .card {
        width: 19rem;
        height: 10rem;
        margin: .5rem 0 .5rem 0;
        h2 {
            font-size: 1.5rem;
            margin-bottom: .9rem;
        }
        p {
            font-size: 1.2rem;
            line-height: 2.5rem;
        }
    }
}